<%# report.erb %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= WeeklyReport::TITLE %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Revenue: $<%= report.getRevenue %></h1>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr class="">
          <% report.getHeaders.each do |header| %>
            <th> <%= header.capitalize %> </th>
          <% end %>
        </tr>
      </thead>
      <% report.getJobs.each do |shipment| %>
        <tr>
          <% shipment.each do |item| %>
          <td><%= item[1] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <h2>Employees:</h2>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr class="">
          <td></td>
          <% report.getPilots.each do |pilot| %>
            <th> <%= pilot %> </th>
          <% end %>
        </tr>
        <tr>
          <th>Bonus</th>
          <%  report.getPilots.each do |pilot| %>
              <td>$<%= report.getPilotBonus(pilot) %></td>
          <% end %>
        </tr>
        <tr>
          <th>Trip Count</th>
          <%  report.getPilots.each do |pilot| %>
              <td><%= report.getPilotTripCount(pilot) %></td>
          <% end %>
        </tr>
      </thead>
    </table>
    <div id="piechart" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    var dataArr = [['Pilot', 'Money Earned'],
      <% report.getPilots.each do |pilot| %>
        ["<%= pilot %>", <%= report.getPilotEarnings(pilot) %>],
      <% end %>
    ]
    console.log("data", dataArr);
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = google.visualization.arrayToDataTable(dataArr);

      var options = {
        title: 'Employee Earnings'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
    </script>
  </body>
</html>
