<div class="">
  <%= @user.name %>, <%= @user.email %>
</div>
<div class="">
  <span><strong>Created at: </strong></span>
  <%= @user.created_at %>
  <br>
  <span><strong>Updated at: </strong></span>
  <%= @user.updated_at %>
</div>
<br>
<br>
<div class="">
  <h4><%= Time.now %></h4>
</div>
